<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<style>
    .body-wrapper {
        display: flex;
        height: 90vh;
    }

    .form-wrapper {
        width: 300px;
        padding: 30px;
        margin: auto;
        border: 1px solid gray;
        border-radius: 5px;
    }

    .relative {
        position: relative;
    }

    .password-input {
        border: 1px solid gray;
        height: 30px;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
    }

    .password-label {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #btn {
        display: block;
        margin: 10px auto 0 auto;
        width: 80px;
        height: 30px;
        cursor: pointer;
    }

    .error-message {
        color: red;
    }

    .success-message {
        color: green;
    }

    .fa-eye {
        position: absolute;
        margin-left: -30px;
        margin-top: 8px;
        cursor: pointer;

    }
</style>
<body>
    <div class="body-wrapper">
        <div class="form-wrapper">
            <form>
                <input id="actionCode" type="hidden" value={{actionCode}}>
                <p class="password-label">Resetujte lozinku.</p>
                <div class="relative">
                    <input class="password-input" type="password" placeholder="Unesite novu lozinku" id="password">
                    <i class="far fa-eye" id="togglePassword"></i>
                </div><br>
                <div class="relative">
                    <input class=" password-input" type="password" placeholder="Unesite novu lozinku"
                        id="confirm-password">
                    <i class="far fa-eye" id="toggleConfirmPassword"></i>
                </div>
                </input><br> <button id="btn">
                    Pošalji
                </button>
                <div id="alert-message"></div>

            </form>
        </div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');
    const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
    const confirmPassword = document.querySelector('#confirm-password');
    const actionCode = document.querySelector('#actionCode').value

    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
    toggleConfirmPassword.addEventListener('click', function (e) {
        const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPassword.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });


    const passwordInput = document.getElementById("password");
    const confirmPasswordInput = document.getElementById("confirm-password");
    const btn = document.getElementById("btn");
    btn.addEventListener("click", () => {
        event.preventDefault();
        const password = passwordInput.value.trim();
        const confirmPassword = confirmPasswordInput.value.trim();
        var breakPattern = /^\S*$/;
        var uppercasePattern = /^(?=.*[A-Z]).+$/;
        var lowercasePattern = /^(?=.*[a-z]).+$/;
        var numberPattern = /^(?=.*\d).+$/;

        if (password.length < 8) {
            document.getElementById("alert-message").innerHTML =
                `<p class="error-message">Lozinka mora da sadrži najmanje 8 karaktera.</p>`;
        } else if (password.length > 30) {
            document.getElementById("alert-message").innerHTML =
                `<p class="error-message">Lozinka ne može da sadrži više od 30 karaktera.</p>`;
        } else if (!uppercasePattern.test(password)) {
            document.getElementById("alert-message").innerHTML =
                `<p class="error-message">Lozinka mora da sadrži najmanje jedno veliko slovo.</p>`;
        } else if (!lowercasePattern.test(password)) {
            document.getElementById("alert-message").innerHTML =
                `<p class="error-message">Lozinka mora da sadrži najmanje jedno malo slovo.</p>`;
        } else if (!numberPattern.test(password)) {
            document.getElementById("alert-message").innerHTML =
                `<p class="error-message">Lozinka mora da sadrži najmanje jedan broj.</p>`; 
        } else if (password !== confirmPassword) {
            document.getElementById("alert-message").innerHTML =
                `<p class="error-message">Lozinke nisu jednake.</p>`;
        } else if (!breakPattern.test(password)) {
            document.getElementById("alert-message").innerHTML =
                `<p class="error-message">Lozinka ne može da sadrži prazan prostor između karaktera.</p>`;
        } else {
            axios.post("https://fit-flix-backend-temporary.herokuapp.com/usermgmt", {
                    newPassword: password,
                    actionCode: actionCode
                })
                .then((response) => {
                    document.getElementById("alert-message").innerHTML =
                        `<p class="success-message">Uspešno promenjena lozinka.</p>`;
                })
                .catch((error) => alert(error));
        }
    });
</script>
</html>